
h1{
    font-size: 24px;
    color: blue;
    font-weight: bold;
    
    
    
}
#last{height: 550px;}
#splatoon{height: 550px;}
#steel{height: 550px;}
#dio{height: 550px;}
#valk{height: 550px;}





h2{
    font-size: 20px;
    color: white;
    font-weight: bold;    
}
h3{font: 16px;
color: white;
font-weight: bold;}

p{color: white;
}

header{font-weight: bold;
    width: max-content;
    height: 400px;
    background-image:url(./img/sos.jpg) ;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    

}
a{
    color: #8A2BE2;
    text-decoration: none;
    
}
body{background-color:royalblue;
}

article{border-style: solid;
border-radius: 25px;
color:black;
border-left-width: 15px;}

