#navbar{
  background-color: black;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  margin: 0 -55%;
  padding: 0 55%;
  z-index: 100;
}
  
.h2naam{
  color: white;
  z-index: 110;
  background-color: #2D6401;
  position: absolute;
  top: 15vh;
  width: 50vh;
  height: 80vh;
  text-align: center;}

  .h1naam{ color: white;
    background-color: #2D6401;
    position: absolute;
    top: 15vh;
    width: 50vh;
    height: 80vh;
    text-align: center;
    right: 1vh;
  }

a{
  text-decoration: none;
  color: white;
  margin: 14px;
  font-size: xx-large;

}

body{
  background-size: cover;
  background-color: #053501;
  overflow: hidden;
  
  
}
#can{border-radius: 25%;
bottom: 50vh;
position: absolute;
right: 70vh;}
 