nav{

    
  width: 100%;
  padding: 2px;
  display: flex;
  height: 75px;
  margin: auto;
  background: #000000;
  justify-content:space-between ;
  top: 0px;
  align-items: center;

    
}
#tcr2{height: 75px;
  width: 100px;
    height: max-content;

}

a{text-decoration: none;
color: white;
}

    body{
    background-color: #053501;
    }

#flex-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  position: relative;
  max-width: 1200px;
 }
 #box{
  background-color: rgb(104, 217, 75);
  left: 200px;
  width: 500px;
  height: 500px;
  position: relative;
 }