nav{

    background-color: #000000 ;
    font-size:xx-large ;
    color: white;
    width: auto;
    

    
}
#tcr2{height: 100px;
    height: max-content;

}

a{text-decoration: none;
color: white;}

    body{
    background-color: #053501;
    }